@font-face {
  font-family: 'AribauGrotesk';
  src: url('/fonts/AribauGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AribauGrotesk';
  src: url('/fonts/AribauGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} 